{
  "parser": "@babel/eslint-parser",
  "rules": {
    "strict": 0,
    "no-undef": "off",
    "no-console": "warn",
    "import/no-unresolved": "off",
    "object-curly-newline": "off",
    "implicit-arrow-linebreak": "off",
    "arrow-parens": "off",
    "no-unused-expressions": "off",
    "import/prefer-default-export": "off",
    "import/no-default-export": "off",
    "prefer-const": "off",
    "no-shadow": "off",
    "max-len": "off",
    "comma-dangle": "off",
    "global-require": "off",
    "import/no-duplicates": "warn",
    "operator-linebreak": "off",
    "arrow-body-style": "warn",
    "no-unused-vars": "warn",
    "no-confusing-arrow": "off",
    "indent": "off",
    "no-nested-ternary": "off",
    "function-paren-newline": "off",
    "no-magic-numbers": "off",
    "camelcase": "off",
    "consistent-return": "off",
    "default-case": "off"
  },
  "extends": ["eslint:recommended"]
}
